<md-tab-group>

  <md-tab label="Tickers">
    <md-card><md-card-content>
      <app-ticker-list [hq-tickers]="hqTickers"></app-ticker-list>
    </md-card-content></md-card>
  </md-tab>

  <md-tab label="HQ({{hqLen-2}}) CSV">
    <md-card><md-card-content>
    <table>
      <tr>
        <th valign="top">
        <md-list>
          <md-list-item *ngFor="let hqTicker of hqTickers">
            <button md-button md-tooltip="View Download HQ" (click)="btnTickerHq(hqTicker)">{{hqTicker.ticker}}</button>
          </md-list-item>
        </md-list>
      </th>
      <td><app-hq-csv [hq-ticker]="hqTicker"></app-hq-csv></td>
      </tr>
    </table>
    </md-card-content></md-card>
  </md-tab>

  <md-tab label="IQ-HQ">
    <md-card><md-card-content>
      <app-iq-hq [hq-tickers]="hqTickers"></app-iq-hq>
    </md-card-content></md-card>
  </md-tab>

  <md-tab label="Group">
    <md-card><md-card-content>
      <button md-raised-button (click)="btnInverse()">Inverse</button>
    </md-card-content></md-card>
  </md-tab>
  <!--<md-tab>
    <template md-tab-label>
      Download URI<md-icon>file_download</md-icon>
    </template>
    <md-card>
    <div *ngFor="let ticker of tickers">
    \cygwin64\bin\wget "http://real-chart.finance.yahoo.com/table.csv?s={{ticker}}&a=00&b=1&c={{today[2]-1}}&d={{today[0]-1}}&e={{today[1]}}&f={{today[2]}}&g=d&ignore=.csv" -O csv\{{ticker}}.csv
    </div>
    </md-card>
  </md-tab>-->
</md-tab-group>