<span *ngIf="sma50 != null">
  <select>
    <option *ngFor="let sma of sma50">
      {{ sma | number }}
    </option>
  </select>
</span>
<span *ngIf="sma5 != null">
  <select>
    <option *ngFor="let sma of sma5">
      {{ sma | number }}
    </option>
  </select>
</span>
<span *ngIf="b2bs != null">
  <select>
    <option *ngFor="let b2b of b2bs; let i = index">
      {{ b2b.upDays > 0 ? 'up ' + b2b.upDays : '' }}
      {{ b2b.dnDays > 0 ? 'down ' + b2b.dnDays : '' }}
      {{ b2b.eqDays > 0 ? 'eq ' + b2b.eqDays : '' }}
      days {{ b2b.delta | percent }}
    </option>
  </select>
</span>
