<div *ngIf="hqTickers != null">
<table>
  <tr>
    <td>
      day:
      <select (change)="onDayChange()" [(ngModel)]="dayIndex">
        <option *ngFor="let day of days" [value]="day">{{day}}</option>
      </select>
    </td>
    <th>sma5</th>
    <th>sma50</th>
    <th>b2b</th>
    <th>candlestick</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <tr *ngFor="let hqTicker of hqTickers">
    <td><app-link [hq-ticker]="hqTicker" [day-index]="dayIndex"></app-link></td>
    <td><app-sma [hq-ticker]="hqTicker" [day-index]="dayIndex"></app-sma></td>
    <td><app-sma [hq-ticker]="hqTicker" [days]="50" [day-index]="dayIndex"></app-sma></td>
    <td><app-hq-b2b [hq-ticker]="hqTicker" [day-index]="dayIndex"></app-hq-b2b></td>
    <td><app-stick [hq-ticker]="hqTicker" [day-index]="dayIndex"></app-stick></td>

    <td class="down" md-tooltip="lowest days in last 5">
      {{hqStatService.hqStatHighLowInLastDays(hqTicker.hqs).lowInLastDays}}</td>
    <td class="up" md-tooltip="highest days in last 5">
      {{hqStatService.hqStatHighLowInLastDays(hqTicker.hqs).highInLastDays}}</td>
    <td class="down" md-tooltip="Lowest date: {{hqTicker.hqs[hqTicker.hqMinIndex].date}}">{{hqTicker.hqMinIndex}}</td>
    <td class="up" md-tooltip="Highest date: {{hqTicker.hqs[hqTicker.hqMaxIndex].date}}">{{hqTicker.hqMaxIndex}}</td>

  </tr>
</table>
</div>